{# src\FB\PlayerManagerBundle\Resources\views\PlayerManager\add.html.twig#}

{% extends "FBClubManagerBundle::layout.html.twig" %}
{% block title %}
    Update Player - {{ parent() }}
{% endblock %}

{% block headerWelcome %}
    Update player
{% endblock %}
{% block headerMessage %}
    <p> Modifier un joueur</p>
{% endblock %}
{% block breacrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path ('fb_clubmanager_home') }}"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="{{ path ('fb_playermanager_home') }}">Joueurs</a></li>
        <li class="active">Modifier</li>
    </ol>
{% endblock %}
{% block fbclubmanager_body %}
    {{ include ('FBPlayerManagerBundle:PlayerManager:form.html.twig') }}
{% endblock %}
