{# \src\FB\SessionManagerBundle\Resources\views\SessionManager\index.html.twig #}

{% extends "FBClubManagerBundle::layout.html.twig" %}
{% block title %}
    Accueil Session Manager- {{ parent() }}
{% endblock %}

{% block headerWelcome %}
    Gestion des séance
{% endblock %}
{% block headerMessage %}
    <p> Ce module permet de gérer les séance d'entrainement</p>
{% endblock %}
{% block breacrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path ('fb_clubmanager_home') }}"><span class="glyphicon glyphicon-home"></span></a></li>
        <li class="active">Séance</li>
    </ol>
{% endblock %}
{% block fbclubmanager_body %}

{% endblock %}
