{# src\FB\SetManagerBundle\Resources\views\Set\add.html.twig#}

{% extends "FBClubManagerBundle::layout.html.twig" %}
{% block title %}
    Add Game set - {{ parent() }}
{% endblock %}

{% block headerWelcome %}
    Add new game set
{% endblock %}
{% block headerMessage %}
    <p> Ajouter un nouveau jeu de maillot</p>
{% endblock %}
{% block fbclubmanager_body %}
    {{ include ('FBSetManagerBundle:Set:form.html.twig') }}
{% endblock %}