{# src\FB\SessionManagerBundle\Resources\views\Team\add.html.twig #}

{% extends "FBClubManagerBundle::layout.html.twig" %}
{% block title %}
    Add session team - {{ parent() }}
{% endblock %}

{% block headerWelcome %}
    Add team for session
{% endblock %}
{% block headerMessage %}
    <p> Ajouter une équipe à séance</p>
{% endblock %}
{% block breacrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path ('fb_clubmanager_home') }}"><span class="glyphicon glyphicon-home"></span></a></li>
        <li class="active">Ajouter</li>
    </ol>
{% endblock %}
{% block fbclubmanager_body %}
    {{ include ('FBSessionManagerBundle:Team:form.html.twig') }}
{% endblock %}
