{# \src\FB\ClubManagerBundle\Resources\views\ClubManager\index.html.twig #}

{% extends "FBClubManagerBundle::layout.html.twig" %}
{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block fbclubmanager_body %}

    <h2>Home page</h2>

{% endblock %}