{# \src\FB\ClubManagerBundle\Resources\views\ClubManager\index.html.twig #}

{% extends "FBClubManagerBundle::layout.html.twig" %}
{% block title %}
    Accueil Club Manager- {{ parent() }}
{% endblock %}

{% block fbclubmanager_body %}
    <h1> Accueil </h1>
    <p>Page d'accueil du club manager, elle permet l'accès au différents modules</p>
{% endblock %}